.container {
    width: 75%;
    margin: auto;
    border: 2px solid red;
}

.placeholder {
    height: 100px;
    padding: 20px;
    border: 1px solid #333333;
}

.color-example {
    height: 40px;
}
