/* --------- Story specific --------------- */

/*  --------- Doc Styles --------------- */
/*
https://github.com/storybookjs/storybook/issues/10054 
storybook docs override default styles (like <h1>),

Alternative is to create a component for h1 and replace in all docs

import Header from "....Header";

<Header>My Component</Header>

...instead of...

# My Component

*/

.sbdocs-h1 {
    font-size: 2rem !important;
    font-weight: 600 !important;
}
